<div class="navbar-pdv">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-pdv-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/sandrineay/pdv-images/master/logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-pdv-right hidden-xs hidden-sm">

    <!-- Links when logged in -->
    <%= link_to "La playlist du vendredi", "#", class: "navbar-pdv-item navbar-pdv-link" %>
    <%= link_to "Historique", "#", class: "navbar-pdv-item navbar-pdv-link" %>
    <%= link_to "Hors-série", "#", class: "navbar-pdv-item navbar-pdv-link" %>
    <%= link_to "À propos", "#", class: "navbar-pdv-item navbar-pdv-link" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-pdv-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-pdv-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

