<%= link_to playlist_path(playlist), class: "playlist-card-link" do %>
  <div class="playlist-card">
    <div class="playlist-card-img">
      <div class="playlist-card-hover">
        <i class="far fa-play-circle"></i>
      </div>
      <%= image_tag "https://api.deezer.com/playlist/#{playlist.deezer_uid}/image?size=big" %>
    </div>
    <% if playlist.special %>
      <p class="text-center"><%= playlist.title.split('-').first %><br><%= playlist.title.split('-').second %></p>
    <% else %>
      <p class="text-center"><%= playlist.title %></p>
    <% end %>
  </div>
<% end %>
